<Template name="overview">
	<div class="overview-page ui-view main" key="overview"> 
        <a href="/dashboard/reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a> 
        <h2>Overview <small>What is Meteor?</small></h2> 
        <div class="jumbotron"> 
          <h1>Welcome!</h1> Meteor Is a JavaScript FrameWork.It is an Open Source Application.
          <br /><br /> 
          <p> <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a> </p> 
        </div> 
    </div>
</Template>